#notifications-menu-item {
  background-color: rebeccapurple;
}

.arrow-dropdown {
  position: relative;
  top: 18px;
  right: 6px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.dark-mode-swal .swal2-popup {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  background-color: #121212;
}

.dark-mode-swal .swal2-icon.swal2-success {
  background-color: #12121200 !important ;
}

.dark-mode-swal .swal2-success-circular-line-left {
  background-color: #12121200 !important;
}

.dark-mode-swal .swal2-success-circular-line-right {
  background-color: #12121200 !important;
}

.dark-mode-swal .swal2-success-ring {
  background-color: #12121200 !important;
}

.dark-mode-swal .swal2-icon.swal2-success .swal2-success-fix {
  background-color: #12121200 !important;
}

#swal2-title {
  font-family: Oswald;
}

.dark-mode-swal #swal2-title {
  color: #e4e4e4;
}

.dark-mode-swal .swal2-html-container {
  color: #ababab;
}

.swal2-html-container {
  font-family: Lato;
}

#search-bar-wrapper {
  position: relative;
  top: -6px;
  right: 8px;
}

#search-bar-wrapper .MuiOutlinedInput-root {
  padding: 0px;
}

#search-bar-wrapper .css-8og9pn-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.8);
}

#search-bar-wrapper .MuiInputAdornment-root {
  color: rgba(255, 255, 255, 0.8);
}

#search-bar-wrapper .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgba(132, 132, 132, 0.432);
}

#search-bar {
  color: rgba(255, 255, 255, 0.8);
}

#search-bar-wrapper .MuiInputLabel-root {
  position: relative;
  top: 13px;
}

.mag-glass {
  position: relative;
  right: 5px;
}

#search-bar-wrapper .MuiInputLabel-shrink {
  position: relative;
  top: 21px !important;
}

@media only screen and (max-width: 500px) {
  #search-bar-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #search-bar-wrapper {
    display: none;
  }
}
