.user-container{
  display: flex;
  flex-direction: row;
}

.header-text{
  margin-left: 15px;
}

.flexbox{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.toggle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}