.user-container{
  display: flex;
  flex-direction: row;
}

.header-text{
  /* margin-left: 15px; */
}

.flexbox{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* flex-flow: row wrap; */
}

.toggle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#image-edit-button{
  position: relative;
  top: 80px;
  right: 25px;
  background-color: #51abcb;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-edit-button :hover{
  cursor: pointer;
}

#spacer{
  height: 20px;
}