/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes everythingButC {
  0% {
    color: 'black'
  }
  100% {
    color: ''
  }
}



#welcome-photo {  
  animation: .9s ease-out 1 slideInFromLeft;
  
} */

@keyframes flash {
  0% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}



#hash-link {
  animation: flash 2s ease-in-out 1.5s infinite;
}