@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.justify{
  display: flex;
  justify-content: flex-end;
}
/* 
.datetime-picker{
  height: 3.5em;
  border: solid rgba(130, 130, 130, 0.527) 1px;
  border-radius: 5px;
  background-color: rgba(255, 245, 238, 0);
  width: 100%;
  height: 64%;
  color: #fff;
  font-family: Lato; */
  /* font-family: ; */
  /* color: white; */
  /* background-color: seashell; */
  /* display: none; */
/* } */

/* .datetime-picker:focus{ */
  /* border: solid rgb(7, 143, 143) 1px; */
  
/* } */

/* .react-datetime-picker{ */
  /* font-style: italic; */
  /* text-emphasis-color: ; */
  /* color: #fff; */
  /* font-family: Lato; */
  
/* } */

/* .react-datetime-picker input, select, svg, rect, button {
  color: #fff;
} */