.MuiOutlinedInput-root {
  background-color: rgba(136, 136, 136, 0.097);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    display: block;
    box-shadow: 0 0 0 30px rgb(3, 94, 106) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgba(3, 94, 106) inset !important;
}

.list-link:hover,
.link-list-dark:hover {
  background-color: #449dbf60;
}

.list-link-dark {
  background-color: rgba(0, 0, 0, 0.535);
}
.link-list {
  background-color: white;
}

.MuiAvatar-root {
  color: rgba(0, 0, 0, 0.755) !important;
}
