.MuiOutlinedInput-root {
  background-color: rgba(136, 136, 136, 0.097);
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  display: block !important;
  box-shadow: 0 0 0 30px #449dbf inset !important;
  -webkit-box-shadow: 0 0 0 30px #449dbf inset !important;
  background-color: #449dbf !important;
  -webkit-background-composite: #449dbf !important;
  background-clip: content-box !important;
  -webkit-background-clip: content-box !important;
  color: #333;
  -webkit-text-fill-color: #333;
}

.list-link:hover,
.link-list-dark:hover {
  background-color: #449dbf60;
}

.list-link-dark {
  background-color: rgba(0, 0, 0, 0.535);
}
.link-list {
  background-color: white;
}

.MuiAvatar-root {
  color: rgba(0, 0, 0, 0.755) !important;
}
